<div class="container">
  <div>
    <mat-form-field class="process-form-field">
      <mat-label>Prozessname</mat-label>
      <label>
        <input matInput type="text" class="createName" [(ngModel)]="newProcess.processname">
      </label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="process-form-field">
      <mat-label>Abteilung</mat-label>
      <mat-select [(ngModel)]="selectedDepartment" class="selectDepartment">
        <mat-option *ngFor="let d of departments" [value]="d.color" [ngStyle]="{backgroundColor: d.color}">
          {{d.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="isNotBasic">
    <mat-form-field appearance="fill" class="selectForm">
      <mat-label>Form</mat-label>
      <mat-select [(ngModel)]="selectedForm">
        <mat-option *ngFor="let f of forms" [value]="f">
          {{f}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="action">
    <button mat-raised-button class="button" (click)="createNewProcessElement()">Save</button>
    <button mat-raised-button class="emptyBoxButton" *ngIf="isNotDetailProcess" (click)="createEmptyProcessElement()">
      Move
    </button>
  </div>
</div>
