<div class="container">
  <mat-accordion class="legend">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Legende
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="departmentDrop">
        <div class="departmentBox" *ngFor="let d of departmentlist">
          <div class="box">
            <input class="combi" [ngStyle]="{backgroundColor: d.color}" [(ngModel)]="d.name"
                   [class.readOnly]="!isAdmin">
            <th class="deleteBox" *ngIf="isAdmin" (click)="deleteDepartment(d.id)">
              <mat-icon>close</mat-icon>
            </th>
          </div>
          <input *ngIf="isAdmin" type="text" class="editColor" [(ngModel)]="d.color">
        </div>
        <div class="buttons" *ngIf="isAdmin">
          <button mat-raised-button class="update" (click)="updateDepartments()">Update</button>
          <button mat-raised-button class="update" (click)="newDepartment()">New</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
