.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: rgb(26, 26, 26);
  color: white;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;
  border-top: white;
  border-top-style: solid;
  font-size: 14px;
}
