.sidenav {
  height: 100%;
  position: fixed;
  background-image: url(~src/assets/images/Alu_Hintergrund.jpg);
  z-index: 10;
  top: 70px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right-color: white;
  border-style: solid;
}

.sidenav a {
  padding: 6px 15px 6px 22px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
  font-family: "Century Gothic", sans-serif;
}

.sidenav a:hover {
  color: rgb(179, 0, 0);
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
