.detail-title {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: black;
  height: 60px;
  font-family: "Century Gothic", sans-serif;
}

.arrow {
  margin-left: 20em;
}

h2 {
  margin-right: 20px;
}

.mat-raised-button {
  line-height: 0;
}

.main {
  display: flow-root;
  width: -webkit-fill-available;
  padding-top: 50px;
}

.container {
  margin-top: 10px;
  margin-left: 138px;
  display: flex;
}

.core-container {
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
}

.link {
  color: white;
  margin-left: 100px;
  font-size: 22px;
  background: black;
}

.process {
  display: flex;
}

.isInvisible {
  opacity: 0;
}

.greyedOut {
  opacity: 0.5;
  pointer-events: none;
}

.title {
  font-size: 15px;
  text-align: initial;
}

.addProcess {
  margin-top: 25px;
  margin-left: 10px;
  height: 30px;
}

.toggle {
  display: inline;
  float: right;
}

.addButton {
  min-width: 40px;
  line-height: 25px;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
}

.form {
  width: 20%;
}

.addButtonCore {
  min-width: 40px;
  line-height: 25px;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
}

.editButton {
  height: 22px;
  display: inline-flex;
  margin: 5px;
  font-size: 12px;
}

.doc-icon {
  margin-bottom: 0;
}

.mat-card {
  width: 150px;
  height: 50px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-card-before {
  content: "";
  position: absolute;
  top: 0;
  left: -33px;
  width: 0;
  height: 2px;
  border-left: 35px solid transparent;
  border-top: 40px;
  border-top-style: solid;
  border-bottom: 40px solid;
  border-left: 35px solid transparent;
}

.mat-card-after {
  content: "";
  position: absolute;
  left: 181px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 35px solid;
}

.saveAndUpdate {
  margin-left: 10px;
  margin-top: 10px;
  display: inline-grid;
  border-style: outset;
  padding: 10px;
  background-color: linen;
  border-color: rgb(179, 0, 0);
  min-width: 287px;
}

.detail-process {
  width: auto;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: transparent;
  border-radius: 4px;
}

.procces-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.circle {
  width: 45px;
  height: 45px;
  top: 5px;
  display: grid;
  left: 50px;
  right: 30px;
  margin-right: 100px;
  margin-bottom: 4px;
  text-align: center;
  border-radius: 100px;
  font-size: 13px;

  .doc-icon {
    margin-bottom: 10px;
    margin-top: 0;
    height: 10px;
  }

  .mat-icon {
    font-size: 20px;
  }
}

.coreProcess {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: yellow;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.coreProcess-after {
  content: "";
  left: 181px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 35px solid;
  border-left-color: yellow;
}

.kern {
  display: flex;
}

.bubble {
  width: 115px;
  height: 45px;
  top: 5px;
  display: grid;
  left: 50px;
  right: 30px;
  margin-right: 30px;
  margin-bottom: 4px;
  border: 1px solid black;
  text-align: center;
  border-radius: 70%;
  font-size: 13px;

  .mat-card-after {
    display: none;
  }

  .mat-card-before {
    display: none;
  }
}

.otherDetailProcess {
  background-color: black;
  height: 30px;
  text-align: center;
  display: flex;
  font-family: "Century Gothic", sans-serif;
  padding-left: 10%;
}

.next {
  margin-right: 20px;
  color: white;
}
