.main {
  display: block;
  margin-top: 200px;
  margin-left: 300px;
}

h1{
  font-size: 50px;
  color: white;
  background-color: rgb(179, 0, 0);
  padding: 10px;
  font-family: "Century Gothic", sans-serif ;
  width: max-content;
}
