@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

.mat-card {
  cursor: pointer;
  font-family: "Century Gothic", sans-serif;
}

label {
  cursor: pointer;
}

.arrow {
  color: white;
  cursor: pointer;
}

.names {
  display: inline-grid;
}

h2 {
  font-weight: normal;
  color: white;
  background-color: black;
  width: fit-content;
  padding: 10px;
}

.connection {
  text-align: center;
  font-size: 10px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons {
  display: flex;
  margin-top: 5px;
  height: 30px;
}

.disableLink {
  pointer-events: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
