<div class="doc-title">
  <mat-icon class="arrow" [routerLink]="['../']">fast_rewind</mat-icon>
  <h2>Dokumente</h2>
</div>
<div class="otherDocuments">
  <a class="next" *ngFor="let p of nextProcess" [routerLink]="['../' + p.name]">{{p.name}}</a>
</div>

<div class="main">
  <div class="container">
    <div class="addProcess" *ngIf="isAdmin">
      <button mat-raised-button class="addButton" *ngIf="showAddButton" (click)="showAddProcessComponent()">+</button>
      <button mat-raised-button class="addButton" *ngIf="hideCreateElement" (click)="hideAddProcessComponent()">x
      </button>
    </div>
    <app-create-document
      *ngIf="showCreateElement"
      (newDocumentEvent)="addDocument($event)"
      [parentId]="parentId"
      [coreElement]="coreElement"
    ></app-create-document>
    <table mat-table [dataSource]="documents" class="mat-elevation-z8">

      <ng-container matColumnDef="nr">
        <th mat-header-cell *matHeaderCellDef> Nummer</th>
        <td mat-cell *matCellDef="let element"> {{element.nr}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef> Link</th>
        <td mat-cell *matCellDef="let element"><a target="blank" [href]="sanitize(element.link)">Dokument</a></td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Beschreibung</th>
        <td mat-cell *matCellDef="let element"> {{element.description}}</td>
      </ng-container>

      <ng-container *ngIf="isAdmin" matColumnDef="löschen">
        <th mat-header-cell *matHeaderCellDef> Löschen</th>
        <td class="deleteBox" (click)="deleteDocument(element.id)" mat-cell *matCellDef="let element">
          <mat-icon>close</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
